.Main {
    
        &_Container {
        max-width: 1178px;
        margin: 0 auto;
        padding: 85px 10px 84px;
        }
    }    

.Article {
    max-width: 1178px;
    margin: 0 auto;
    padding: 0 5px 70px;

    &_Content {
        display: flex;        
        align-items: top;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .Main {
    
        &_Container {
            padding: 0 20px 0;
        }
    }    

.Article {
    max-width: 1178px;
    width: 100%;
    padding: 55px 0 0px;
    margin: 0 auto;

    &_Content {
        width: 100%;
        margin: 0 auto;
        padding: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
}