.MainCards {
max-width: 1158px;
width: 100%;    
display: grid;
grid-template-columns: repeat(4, 270px);
grid-auto-rows: 441px;
grid-gap: 40px 26px;
justify-content: center;


overflow-y: auto;
scrollbar-color: #FFFFFF #2E2E2E; // Firefox
scrollbar-width: thin; // Firefox
scrollbar-width: 0px; // Firefox
height: 922px;

    &::-webkit-scrollbar {
    width: 0px;
    background-color: #009EE4;
    }

    &::-webkit-scrollbar-thumb {
    background-color: #0080C1;
    border-radius: 3px;
    }

    &_Item {
    margin: 0;            
    }

    &_Card {
    width: 270px;
    height: 441px;        
    display: flex;
    flex-direction: column;

        &_Img {
        width: 270px;
        height: 270px;
        background-color: #F0F0F0;
        }

        &_Title {
        height: 28px;
        font-size: 22px;
        font-weight: 500;
        line-height: 26px;
        color: #009EE4;
        margin-bottom: 10px;
        margin-top: 20px;

        overflow: hidden;
        text-overflow: ellipsis;
        }

        &_Price {
        display: flex;
        color: #000000;
        font-size: 22px;
        font-weight: 500;
        line-height: 33px;
        margin-bottom: 10px;
        }

        &_Date {
        display: flex;
        font-size: 16px;
        line-height: 21px;
        color: #5F5F5F;
        }

        &_Place {
        display: flex;
        margin-bottom: 4px;
        font-size: 16px;
        line-height: 21px;
        color: #5F5F5F;
        }

    }

}

@media screen and (max-width: 1158px) {
.cards {            
display: grid;
grid-template-columns: repeat(3, 270px);   
}
}
@media screen and (max-width:890px) {
    
.cards {        
display: grid;
grid-template-columns: repeat(2, 270px);
}  
}

@media screen and (max-width: 590px) {
.MainCards {
display: grid;
grid-template-columns: repeat(2, 137px);
grid-auto-rows: 293px;
grid-gap: 10px 10px;
justify-content: center;  
height: 100%; 
  
    &_Item {
    margin: 0;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    }

    &_Card {
    width: 137px;
    height: 293px;
    display: flex;
    flex-direction: column;

        &_Img {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        width: 137px;
        height: 132px;
        background-color: #D9D9D9;
        }

        &_Title {
        height: 51px;
        font-size: 14px;
        line-height: 17px;
        color: #009EE4;
        margin-bottom: 10px;
        margin-top: 10px;
        }

        &_Price {
        font-size: 16px;
        line-height: 24px;
        margin-left: 0;
        }

        &_Date, 
        &_Place {
        font-size: 12px;
        line-height: 16px;
        color: #5F5F5F;
        margin-left: 0;
        }
    }
}
}