.ContainerBg {
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: #F4F5F6;
}

.Modal {

    &_Block {
        position: absolute;
        z-index: 5;
        left: calc(50% - (600px/2));
        top: 60px;
        opacity: 1;
    }

    &_Content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 600px;
        height: auto;
        padding: 32px 50px 42px;
        background-color: #FFFFFF;
        border-radius: 12px;
        position: relative;
    }

    &_Title {
        font-size: 32px;
        line-height: 46px;
        font-weight: 500;
        color: #000000;

            &:hover::before {
                border-top: 2px solid #0080C1;
                border-left: 2px solid #0080C1;
            }
    }

        &_BtnClose {
            width: 23px;
            height: 23px;
            position: absolute;
            top: 47px;
            right: 50px;
            z-index: 3;
            cursor: pointer;
    
        }
    
        &_BtnCloseLine {
            position: relative;
            width: 100%;
            height: 100%;
    
            &::after,
            &::before {
                content: "";
                position: absolute;
                width: 30px;
                height: 2px;
                border-radius: 2px;
                background-color: #D9D9D9;
                top: 47%;
                right: -4px;
    
            }
            &:hover {
                &::after,
                &::before {
                    background-color: #0080C1;
                }
            }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &_FormNewArt {
        margin-top: 22px;
        display: flex;
        flex-direction: column;
        width: 100%;

        &_Block {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }
    
        & label {
            margin-bottom: 4px;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
        }
    
        &_Input,
        &_Area,
        &_InputPrice {
            padding: 13px 19px;
            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 6px;
            font-size: 16px;
            line-height: 1;
        }
    
        &_Input {
            width: 100%;
            font-size: 16px;
            line-height: 24px;
    
            &::placeholder {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #0000004D;
                ;
            }
        }

        &_HiddenBtn {
            filter:alpha(opacity=1);
            -moz-opacity: 0.01;
            opacity: 0.01;
            cursor:pointer;
            font-size:72px;
            position:absolute;
            right:0;
        }
    
        &_Area {
            font-family: 'Roboto', sans-serif;
            width: 100%;
            max-height: 200px;
            font-size: 16px;
            line-height: 24px;
    
            &::placeholder {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #0000004D;
            }
        }
    
        &_P {
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            margin-bottom: 10px;
    
            & span {
                margin-left: 10px;
                color: rgba(0, 0, 0, 0.3);
            }
        }
    
        &_BarImg {
            width: 500px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            overflow: hidden;
        }
    
        &_ImgCover {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #F0F0F0;
            z-index: -1;
    
            &::after,
            &::before {
                content: "";
                position: absolute;
                width: 30px;
                height: 2px;
                border-radius: 2px;
                background-color: #D9D9D9;
                top: 50%;
                right: calc(50% - (30px/2));
    
            }
    
            &::before {
                transform: rotate(90deg);
            }
    
        }
    
        &_Img {
            width: 90px;
            height: 90px;
            margin-right: 10px;
            position: relative;
            z-index: 0;
    
            & img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 2;
            }
        }
    
        &_InputPriceCover{
            width: 24px;
            height: 24px;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            position: absolute;
            bottom: 13px;
            left: 170px;
            z-index: 0;
            background-color: #FFFFFF;
                
            &::after {
                    content: "\A0 \20BD";
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    
                    font-size: 16px;
                    line-height: 24px;
                    color: #000000;
                    z-index: 2;
                }
            
        }
        &_InputPrice {
            width: 200px;
            font-size: 16px;
            line-height: 24px;
            color: #000000;        
    
            &::placeholder {
                text-align: end;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #000000;
                
            }
        }
    
        &_BtnPub {
            margin-top: 10px;
            width: 181px;
            height: 50px;
            background: #D9D9D9;
            border: 1px solid #D9D9D9;
            border-radius: 6px;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;

                &:hover {
                    background-color: #0080C1;
                }
        }    
    }

}

// ==================== media ==================

@media screen and (max-width: 600px) {

    
    .Modal {

        &_Block {
            position: absolute;
            z-index: 5;
            left: 20px;
            top: 55px;
            opacity: 1;
        }
    
        &_Content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            min-width: 320px;
            height: auto;
            padding: 30px 20px 30px;
            }
    
        &_Title {
            font-size: 24px;
            line-height: 29px;
            padding: 0 0 0 26px;
            position: relative;
        
                &::before {
                    content: "";
                    display: block;
                    width: 12px;
                    height: 12px;
                    background-color: transparent;
                    border-top: 2px solid #000000;
                    border-left: 2px solid #000000;
                    transform: rotate(-45deg);
                    position: absolute;
                    top: 9px;
                    left: 0;
                    cursor: pointer;
                    }
        }
    
            &_BtnClose {
                display: none;        
            }
        
    
        &_FormNewArt {
            margin-top: 22px;
    
            &_Block {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 18px;
                }
        
            & label {
                margin-bottom: 5px;
                font-size: 14px;
                line-height: 21px;
                color: #000000;
                    }
        
            &_Input,
            &_Area,
            &_InputPrice {
                padding: 9px 17px;
                background: #FFFFFF;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 30px;
                font-size: 16px;
                line-height: 1;
                }
        
            &_Input {
                width: 100%;

                &::placeholder {
                    font-size: 14px;
                    line-height: 21px;
                    color: #C4C4C4;
                }
            }
        
            &_Area {
                font-family: 'Roboto', sans-serif;
                width: 100%;
                max-height: 107px;
        
                &::placeholder {
                    font-size: 14px;
                    line-height: 21px;
                    color: #C4C4C4;
                }
            }
        
            &_P {
                font-size: 14px;
                line-height: 21px;
                margin-bottom: 10px;
        
                & span {
                    display: block;
                    margin-left: 0px;
                    color: rgba(0, 0, 0, 0.3);
                }
            }
        
            &_BarImg {
                width: 278px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: start;        
                margin: 0px -5px 10px;
                overflow: hidden;
            }
        
        
            &_Img {
                display: block;
                width: 90px;
                min-width: 90px;
                height: 90px;
                background-color: #F0F0F0;
                margin: 0 5px;
        
                & img {
                    display: block;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        
            &_InputPriceCover{
                width: 21px;
                height: 21px;
                font-size: 14px;
                line-height: 21px;
                bottom: 9px;
                left: auto;
                right: 18px;
        
                &::after {
        
                    font-size: 14px;
                    line-height: 21px;
        
                }                    
            }

            &_InputPrice {
                width: 100%;

                &::placeholder {
                    font-size: 14px;
                    line-height: 21px;
                    color: #000000;
                }
            }
        
            &_BtnPub {
                margin-top: 10px;
                width: 100%;
                height: 46px;
            }    
        }
    
    }
}    