.ContainerBg {
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: #F4F5F6;
}

.Modal {

    &_LogoLinkMob {
        display: none;
        }

    &_LogoMobImg {
        display: none;
    }

    &_Block {
        position: absolute;
        z-index: 5;
        left: calc(50% - (600px/2));
        top: 60px;
        opacity: 1;
    }

    &_Content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 800px;
        height: 100%;
        padding: 20px 92px 57px 50px;
        background-color: #FFFFFF;
        border-radius: 12px;
        position: relative;
    }

    &_Title {
        font-size: 32px;
        line-height: 46px;
        font-weight: 500;
        color: #000000;
        margin-bottom: 15px;

            &:hover::before {
                border-top: 2px solid #0080C1;
                border-left: 2px solid #0080C1;
            }
    }

        &_BtnClose {
            width: 23px;
            height: 23px;
            position: absolute;
            top: 47px;
            right: 50px;
            z-index: 3;
            cursor: pointer;
    
        }
    
        &_BtnCloseLine {
            position: relative;
            width: 100%;
            height: 100%;
    
            &::after,
            &::before {
                content: "";
                position: absolute;
                width: 30px;
                height: 2px;
                border-radius: 2px;
                background-color: #D9D9D9;
                top: 47%;
                right: -4px;
    
            }
            &:hover {
                &::after,
                &::before {
                    background-color: #0080C1;
                }
            }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &_Scroll {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        overflow-y: auto;
        scrollbar-color: #FFFFFF #2E2E2E; // Firefox
        scrollbar-width: thin; // Firefox
        scrollbar-width: 0px; // Firefox



        &::-webkit-scrollbar {
            width: 0px;
            background-color: #FFFFFF;

        }

        &::-webkit-scrollbar-thumb {
            background-color: #D9D9D9;
            border-radius: 0px;
        }
    }

    &_FormNewArt {
        margin-top: 5px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        width: 100%;

        &_Block {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 14px;
        }
    
        & label {
            margin-bottom: 14px;
            font-size: 16px;
            line-height: 32px;
            font-weight: 600;
            color: #000000;
        }
        
        &_Area {
            font-family: 'Roboto', sans-serif;
            padding: 10px 19px;
            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 6px;
            font-size: 16px;
            line-height: 1;
            width: 100%;
            height: 100px;
            max-height: 100px;
    
            &::placeholder {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #0000004D;;
            }
        }
    
        &_BtnPub {
            width: 181px;
            height: 50px;
            background: #D9D9D9;
            border: 1px solid #D9D9D9;
            border-radius: 6px;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
    
                &:hover {
                    background-color: #0080C1;
                }
        }    
    }

    &_Reviews {
        width: 100%;
        height: 495px;

        &_Review {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 15px 0;

            &_Item {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
            }
        
            &_Left {
                margin-right: 12px;
            }
        
            &_Img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #F0F0F0;
        
                & img {
                    display: block;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        
            &_Right {
                display: block;
            }
        
            &_Name {
                margin-bottom: 12px;
                font-weight: 600;
                font-size: 16px;
                line-height: 32px;
                color: #000000;                
        
                & span {
                    margin-left: 10px;
                    color: #5F5F5F;
                }
            }
        
            &_Title {
                font-weight: 600;
                font-size: 16px;
                line-height: 32px;
                color: #000000;                
            }       
            
            &_Text {
                font-size: 16px;
                line-height: 32px;
                color: #000000;                
            }
        }
    
    }

}

@media screen and (max-width: 600px) {
    .ContainerBg {
        max-width: 100%;
        height: 100vh;
        margin: 0 auto;
        position: relative;
        background-color: #F4F5F6;
    }
    
    .Modal {
        width: 100%;
        height: 55px;
        background-color: #009EE4;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
        margin-bottom: 0px;
        padding: 11px 17px;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 3;

        &_Reviews {
            height: 100%;
        }
    
        &_LogoLinkMob {
            display: block;
            width: 32px;
            height: 32px;
        }

        &_LogoMobImg {
            width: 32px;
            height: auto;
            display: block;
            object-fit: cover;
        }
    
        &_Block {
            position: absolute;
            z-index: 5;
            left: 0px;
            top: 55px;
            opacity: 1;
        }
    
        &_Content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            min-width: 320px;
            height: auto;
            padding: 30px 20px 30px;
        }
    
        &_Title {
            font-size: 24px;
            line-height: 29px;
            padding: 0 0 0 26px;
            position: relative;
            
                &::before {
                    content: "";
                    display: block;
                    width: 12px;
                    height: 12px;
                    background-color: transparent;
                    border-top: 2px solid #000000;
                    border-left: 2px solid #000000;
                    transform: rotate(-45deg);
                    position: absolute;
                    top: 9px;
                    left: 0;
                    cursor: pointer;
                }
        }
    
        &_BtnClose {
            display: none;
        }
                
        &_FormNewArt {
            margin-top: 22px;
    
            &_Block {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 16px;
            }
        
            & label {
                display: none;
            }
            
            &_Area {
                font-family: 'Roboto', sans-serif;
                width: 100%;
                max-height: 107px;
                padding: 9px 17px;
                background: #FFFFFF;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 30px;
                font-size: 16px;
                line-height: 1;
                
        
                &::placeholder {
                    font-size: 14px;
                    line-height: 21px;
                    color: #C4C4C4;
                    
                }
            }
        
            &_BtnPub {
                margin-top: 0px;
                width: 100%;
                height: 46px;
                background-color: #009EE4;
            }    
        }
    }
}